<script>

	import { createEventDispatcher } from "svelte";
	const dispatch = createEventDispatcher();

let input;
	export let style = "";
	export let tags = [];
	let partial = " ";
// 	export let autocompleteTags = [];
	export let autofocus = false;

// 	let lastInputType = '';
	let canDelete = false;

	function deleteTag(tag) {
		tags.splice(tags.indexOf(tag), 1);
		tags = tags;	// Needed so Svelte triggers the appropriate updates
		event.stopPropagation();
		input.focus();
		requestAnimationFrame(()=>input.focus());
// 		console.log('Deleting tag, refocused on input field', document.activeElement)
	}

	function onInput(ev) {

		if (ev.inputType === "deleteContentBackward" && input.selectionStart === 0 && input.selectionEnd === 0 && partial === "") {
			// Delete the last tag from the array
			tags.pop();
			tags = tags;	// Needed so Svelte triggers the appropriate updates
		} else {
			if (partial === ""){
				partial = " ";
				input.selectionStart = input.selectionEnd = 1;
			}if (partial[0] !== " ") {
				partial = " " + partial;
// 				input.selectionStart = input.selectionEnd = 1;
			}
			}
	}

	function onKeyUp(ev) {
// 		console.log(ev.type, input.selectionStart, input.selectionEnd, partial, ev);

		if (ev.key === "Enter" && (partial === " " || partial === "")) {
			dispatch("submit", {tags});
		}

		let i = partial.lastIndexOf(" ");
			if (i === 0 && ev.key === "Enter") {
				i = partial.length
			}
			if (i !== 0){
				// Split the first word and add it as a new tag
				const newTag = partial.substr(1, i);
				if (newTag !== "" && newTag !== " ") {
					tags.push(newTag.trim());
					tags = tags;
				}
				partial = partial.substr(i+1);
			}

			if (partial === ""){
				partial = " ";
				input.selectionStart = input.selectionEnd = 1;
			}if (partial[0] !== " ") {
				partial = " " + partial;
// 				input.selectionStart = input.selectionEnd = 1;
			}
	}

	function onFieldClick() {
		input.focus();
	}

	function delayedOnBlur(ev) {
// 		console.log('Delaying blur');
// 		setTimeout(function(){
		requestAnimationFrame(function(){
		console.log(document.activeElement);
			if (document.activeElement != input) {
// 				console.log('Delayed blur');
				dispatch('blur');
			}
		}, false);
	}

	$: if (autofocus && input) {onFieldClick();}
</script>

<label class='TagInput' style={style}>
	<span class='Tags'>
	{#each tags as tag (tag)}

	<span class='tag badge badge-primary'>{tag} <span class='delete-tag' on:mousedown="{() => deleteTag(tag)}" on:pointerdown="{() => deleteTag(tag)}">x</span></span>
	{/each}
	</span>
	<input bind:this={input} type='text' bind:value="{partial}" on:input="{onInput}" on:keyup="{onKeyUp}"  on:blur={delayedOnBlur}>
</label>


<style>
	.TagInput {
		border: 1px solid #ccc;
		border-radius: 2px;
/* 		min-width: 10em; */
		display: inline-flex;
		overflow: auto;
		vertical-align: text-top;
	}

	span.tag {
		margin-left: 3px;
		margin-right: 3px;
	}

	.Tags {
		flex-grow: 0;
		margin: .25em;
	}
	
	.tag .delete-tag {
		padding: 0 0.5em;
		background: transparent;
		border: none;
		cursor: pointer;
		color: red;
/* 		background: none; */
		font-weight: bold;
	}
	
	.tag .close:hover {
		text-decoration: underline;
	}
	
	input {
/* 		border: none; */
		flex: auto;
		margin-left: -6px;
		padding: 0;
	}
</style>
