<script>
	import { createEventDispatcher } from "svelte";
	const dispatch = createEventDispatcher();

	import TagInput from "./TagInput.svelte";
	import Tag from "./Tag.svelte";

	export let style = '';
	export let tags = [];

	export let editable = true;
	let editing = false;

	/// TODO: if the child tag input is blurred, submit it.
	function changed(){
		editing = false;
		dispatch('change', {tags});
	}
</script>

{#if (editing) }
<TagInput bind:tags on:submit="{changed}" on:blur="{changed}" autofocus/>
{:else}
<span class='TagList' {style} on:click="{()=>editing=editable}">
	{#each tags as tag (tag)}
		<Tag>{tag}</Tag>
	{/each}
	{#if tags.length === 0}<span class='badge badge-secondary'>No tags</span>{/if}
</span>
{/if}

<style>
	.TagList {
		border: 1px solid #ccc;
		border-radius: 2px;
/* 		min-width: 10em; */
/* 		display: inline-flex; */
		overflow: auto;
/* 		vertical-align: bottom; */
		padding: 5px;
/* 		display:inline-block; */
	}

</style>
