<script context="module">
	// Hold cache for already-read help blurbs
	const closedCache = {}

</script>
<script>
//   import { Toast, ToastBody, ToastHeader } from 'sveltestrap';
  import { Alert } from 'sveltestrap';

  export let title = '';

  let isOpen = !closedCache[title];

  function close(){
	closedCache[title] = true;
	isOpen = false;
  }
</script>

<Alert color="info" {isOpen} toggle={close} fade={false}>
	<h5>{title}</h5>
	<slot/>
</Alert>

<style>
</style>
