<script context="module">
	let idCount = 1;
</script>
<script>
  let className = '';
  export { className as class };
  export let name = '';
  export let label = '';
  export let disabled = '';
  export let checked = false;
  export let placeholder = '';
  let id = "switch-" + idCount++;
  let labelHtmlFor=id;
</script>

<div class="custom-switch custom-control {className}">
<input {id} type="checkbox" class="custom-control-input" bind:checked {name} {disabled} {placeholder} for="{labelHtmlFor}"/>
<label class="custom-control-label" for="{labelHtmlFor}">{label}<slot /></label>
</div>

