<script>
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	// 	import ImageList from "./ImageList.svelte";
	import CreatureList from "./CreatureList.svelte";
	import { Spinner } from "sveltestrap";

	const db = new PouchDB("images");

	// 	function namesort(a, b) {
	// 		const A = a.toUpperCase(),
	// 			B = b.toUpperCase();
	// 		A < B ? -1 : A > B ? 1 : 0;
	// 	}

	// 	const performSort = {
	// 		filename: (a, b) => namesort(a.fileinfo.name, b.fileinfo.name),
	// 		page: (a, b) => a.fileinfo.page - b.fileinfo.page,
	// 		imagename: (a, b) => namesort(a.name, b.name),
	// 	};

	export let creatures = db
		.allDocs({
			include_docs: true,
		})
		.then((dbResult) => {
			// 			const cleanImages = images.rows
			// 				.map((img) => ({
			// 					...img,
			// 					tags: img.doc.tags ? [...img.doc.tags] : [],
			// 				}))
			// 				.map((img) => ({
			// 					id: img.id,
			// 					fileinfo: img.doc.fileinfo,
			// 					name: img.doc.name,
			// 					type: img.doc.original_content_type,
			// 					tags: img.tags,
			// 					hidden: img.doc.hidden | false,
			// 				}));
			//
			// 			cleanImages.sort(
			// 				(a, b) =>
			// 					namesort(a.fileinfo.name, b.fileinfo.name) ||
			// 					a.fileinfo.page - b.fileinfo.page ||
			// 					namesort(a.name, b.name)
			// 			);

			return dbResult.rows
				.map((r) =>
					r.doc.creatures
						.map((c, i) => {
							return (
								c && {
									image: r.doc,
									creatureId: i,
									uniqueId: r.doc._id + "/" + i,
									...c,
								}
							);
						})
						.filter((c) => c)
				)
				.flat();
		});
</script>

{#await creatures}
	<Spinner />
{:then loadedCreatures}
	{#if loadedCreatures.length}
		<CreatureList creatures={loadedCreatures} />
	{:else}
		<p>
			No creatures to show. You might want to go to the "Images" tab and create
			a creature from an image.
		</p>
	{/if}
{:catch}
	Could not load images from DB :-(
{/await}
