<script>
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	import ImageList from "./ImageList.svelte";
	import { Spinner } from "sveltestrap";

	const db = new PouchDB("images");

	export let filter = function(image) {
		return true;
	};

	let images = db
		.allDocs({
			include_docs: true,
		})
		.then((images) => {
			return images.rows
				.map((img) => ({
					...img,
					tags: img.doc.tags ? [...img.doc.tags] : [],
				}))
				.map((img) => ({
					id: img.id,
					fileinfo: img.doc.fileinfo,
					name: img.doc.name,
					type: img.doc.original_content_type,
					tags: img.tags,
					phash: img.doc.phash,
					hidden: img.doc.hidden | false,
					creatures: img.doc.creatures,
					width: img.doc.width,
					height: img.doc.height,
				}));
		});
</script>

<style>

</style>

{#await images}
	<Spinner />
{:then loadedImages}
	{#if loadedImages.length}
		<ImageList images={loadedImages} {filter} />
	{:else}
		<p>
			No images to show. You might want to go to the "upload" tab and provide a
			PDF or some .jpg/.png images.
		</p>
	{/if}
{:catch}
	Could not load images from DB :-(
{/await}
