<script context="module">
	const imagesDb = new PouchDB("images");
</script>

<script>
	// 	import NewPawnModal from "./NewPawnModal.svelte";
	// 	import TagModal from "./TagModal.svelte";
	// 	import SureModal from "./SureModal.svelte";
	import TagList from "./TagInput/TagList.svelte";
	import FileInfo from "./FileInfo.svelte";

	import { updateCreature, getThumbnailBlob, deleteCreature } from "./dbUtils.js";
	import { Spinner, Button } from "sveltestrap";

	let pawnModalIsActive = false;

	export let creature = {
		image: {
			id: undefined,
		}, // A reference to the whole image

		// The numerical ID of this creature inside the image's creatures array.
		creatureId: undefined,

		name: "",
		baseWidth: undefined,
		x1: undefined,
		x2: undefined,
		y1: undefined,
		y2: undefined,
		pawnCount: 0,
	};

	// 	console.log(creature);

	let imageSrc = getThumbnailBlob(creature.image._id);

	// FIXME: make this work
	function updatePrintCount() {
		updateCreature(creature.image._id, creature.creatureId, {
			pawnCount: creature.pawnCount,
		});
	}

	let isDeleted = false;
	let deletionTimeout = false;

	function startDelete() {
		deletionTimeout = setTimeout(deleteFromDB, 5000);
	}

	function cancelDeletion() {
		clearTimeout(deletionTimeout);
		deletionTimeout = false;
	}

	function deleteFromDB() {
		deleteCreature(creature.image._id, creature.creatureId).then(
			() => (isDeleted = true)
		);
	}
</script>

<style>
	/* @import url("bulma.min.css"); */

	.creature-line {
		width: 100%;
		height: 5em;
		display: block;
		border: 1px solid grey;
		border-radius: 0.5em;
		/* 		vertical-align: bottom; */
		overflow: hidden;
	}

	.creature-line div.image {
		display: inline-block;
		width: 5em;
		height: 5em;
		text-align: center;
		vertical-align: top;
	}

	.creature-line div.info {
		display: inline-block;
		/* 		width: calc (50% - 5em); */
		height: 5em;
		/* 		text-align: center; */
		/* 		vertical-align: middle; */
	}

	.creature-line div.buttons {
		display: inline-block;
		/* 		width: calc (50% - 5em); */
		height: 5em;
		/* 		text-align: center; */
		/* 		vertical-align: middle; */
	}

	.creature-line img,
	.creature-line .image-load {
		/* 		display: inline-block; */
		max-width: 5em;
		max-height: 5em;
		object-fit: contain;
		vertical-align: middle;
	}

	input[type="number"] {
		width: 5em;
	}
</style>

<div class="creature-line">
	<div class="image">
		{#await imageSrc}
			<Spinner />
		{:then src}
			<img {src} alt={creature.name} />
		{:catch}
			<div>Could not load the image :-(</div>
		{/await}
	</div>
	<div class="buttons">

		<big>{creature.name}</big>

		{#if isDeleted}
			<div>
				<small>Deleted.</small>
			</div>
		{:else}
			<div class="Buttons">
				{#if deletionTimeout}
					<Spinner color="danger" />
					Deleting...
					<button class="btn btn-outline-danger" on:click={cancelDeletion}>
						Cancel deletion
					</button>
				{:else}
					Pawns to print:
					<input
						type="number"
						min="0"
						max="20"
						bind:value={creature.pawnCount}
						on:change={updatePrintCount} />

					<button class="btn" disabled on:click={() => {}}>Edit</button>
					<button class="btn btn-outline-danger" on:click={startDelete}>
						Delete
					</button>
				{/if}
			</div>
		{/if}
	</div>
	<div class="info">
		<div>
			<FileInfo
				fileinfo={creature.image.fileinfo}
				name={creature.image.name}
				width={creature.image.width}
				height={creature.image.height} />
			/ {creature.creatureId}
		</div>
		<TagList bind:tags={creature.image.tags} editable={false} />

	</div>
</div>
