<script>
	import CreatureLine from "./CreatureLine.svelte";
	import { Button as StrapButton, ButtonGroup } from "sveltestrap";

	// 	const db = new PouchDB("images");

	/// TODO: Use "keyed each blocks", lets Svelte work better when inserting/removing items
	/// See https://v3.svelte.technology/guide#keyed-each-blocks

	export let creatures = [];

	let sortBy = "name";
</script>

<style>
	.creature-list {
		width: 100%;
	}
</style>

ort by:
<ButtonGroup>
	<StrapButton
		outline
		disabled
		active={sortBy === 'name'}
		on:click={() => (sortBy = 'name')}>
		Creature name
	</StrapButton>
	<StrapButton
		outline
		disabled
		active={sortBy === 'book'}
		on:click={() => (sortBy = 'book')}>
		Book, Page
	</StrapButton>
</ButtonGroup>

<button disabled>
	<!-- TODO -->
	Reset all pawn counts to zero
</button>

<div class="creature-list">
	{#if creatures.length}
		{#each creatures as creature (creature.uniqueId)}
			<CreatureLine {creature} />
		{/each}
	{:else}
		<p>No Creatures</p>
	{/if}
</div>
