<script>
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb";
	import SureModal from "./SureModal.svelte";
	// 	import Modal from "./bulma-stuff/Modal.svelte";
	import { Button, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap";

	const imagesDb = new PouchDB("images");
	// 	const creaturesDb = new PouchDB("creatures");

	let showSureNukeDatabaseModal = false;
	let showWorkingModal = false;

	function nukeDatabase(event) {
		showWorkingModal = true;
		// 		Promise.all([imagesDb.destroy(), creaturesDb.destroy()]).then(() => {
		imagesDb.destroy().then(() => {
			window.location.reload();
		});
	}

	function compactDatabase(event) {
		showWorkingModal = true;
		// 		Promise.all([imagesDb.compact(), creaturesDb.compact()]).then((res) => {
		imagesDb.compact().then((res) => {
			console.log(res);
			showWorkingModal = false;
		});
	}
</script>

<div>
	<button
		class="btn btn-outline-danger"
		on:click={() => (showSureNukeDatabaseModal = true)}>
		Reset database
	</button>
</div>

<div>
	<button class="btn btn-outline-primary" on:click={compactDatabase}>
		Compact database (free space from deleted items)
	</button>
</div>

<SureModal bind:active={showSureNukeDatabaseModal} on:ok={nukeDatabase}>
	<div slot="content">
		<p>Are you sure you want to delete everything in the database?</p>
		<p>Paperpawner will be reloaded afterwards.</p>
	</div>
</SureModal>

<Modal isOpen={showWorkingModal}>
	<ModalBody>
		<p>Working...</p>
	</ModalBody>
</Modal>
