<script>
	// Formats a fileinfo block (from an image) into a human-readable line of text with tiny icons.

	import Icon from "svelte-awesome";
	import { filePdfO, image, bookmark, arrowsAlt } from "svelte-awesome/icons";

	export let fileinfo = {};
	export let name;
	export let width;
	export let height;
</script>

{#if fileinfo.page}
	<nobr>
		<Icon data={filePdfO} />
		{fileinfo.name}
	</nobr>
	<nobr>
		<Icon data={bookmark} />
		{fileinfo.page}
		{#if fileinfo.pageName}({fileinfo.pageName}){/if}
	</nobr>
	{#if name}
		<nobr>({name})</nobr>
	{/if}
{:else}
	<nobr>
		<Icon data={image} />
		{fileinfo.name}
	</nobr>
{/if}

{#if width && height}
	<nobr>
		<Icon data={arrowsAlt} />
		{width}x{height}px
	</nobr>
{/if}
