<script>
	import AllImageList from "./AllImageList.svelte";
	import { getBooks, getImageTags } from "./dbUtils.js";
	import Switch from "./Controls/Switch.svelte";
	import ScreenHelp from "./Controls/ScreenHelp.svelte";
	import * as tagCategories from "./possibleTags.js";

	const namesort = (a, b) => {
		const A = a.book.toUpperCase(),
			B = b.book.toUpperCase();
		return A < B ? -1 : A > B ? 1 : 0;
	};

	let books = [];
	getBooks().then((bs) => {
		const tmp = [];
		for (let i of bs) {
			tmp.push({ book: i, enabled: true });
		}
		// 		console.log("books", bs, tmp);
		books = tmp.sort(namesort);
	});

	let tags = [],
		existingCategories = [];
	getImageTags().then((ts) => {
		const tmp = Array.from(ts);
		tags = tmp.sort((a, b) => (a < b ? -1 : a > b ? 1 : 0));

		// TODO: Add an option for "none of the above"

		existingCategories = Object.values(tagCategories)
			.filter((c) => c.opts.filter((t) => tags.includes(t)).length >= 2)
			.map((c) => {
				const d = c.opts.map((o) => {
					return {
						enabled: true,
						tag: o,
						f: function(ts) {
							return ts.includes(o);
						},
					};
				});
				// 			const all = c.opts.map(o=>o.tag);
				d.push({
					enabled: true,
					tag: "(none)",
					f: function(ts) {
						return !c.opts.some((o) => ts.includes(o));
					},
				});
				return d;
			});
	});

	let filterUnused = false;

	let filter;
	let booksFilter, tagsFilter;
	$: booksFilter = books.filter((b) => b.enabled).map((b) => b.book);
	// 	$: tagsFilter = tags.filter((t) => t.enabled).map((t) => t.tag);

	// 	$: console.log('categories', existingCategories);
	// 	$: console.log("booksFilter", booksFilter);

	$: filter = function filter(d) {
		if (filterUnused && d.creatures > 0) {
			return false;
		}
		if (!booksFilter.includes(d.fileinfo.name)) {
			return false;
		}
		for (let cat of existingCategories) {
			// 			if (cat.some((t) => (!t.enabled) && d.tags.includes(t.tag))) {
			if (cat.some((t) => !t.enabled && t.f(d.tags))) {
				return false;
			}
		}
		// 		if (!d.tags.some((t) => tagsFilter.includes(t))) {
		// 			return false;
		// 		}
		return true;
	};
</script>

<style>
	.scrollable {
		display: inline-block;
		max-height: 15em;
		overflow-y: scroll;
		border: #404040 solid 1px;
		vertical-align: text-top;
	}

	.label {
		display: block;
	}
</style>

<ScreenHelp title="Image browser">
	<p>
		The image browser allows you to see and manage all found images. If you see
		no images here, go to the "upload" section first.
	</p>
	<p>Tweak the filters to display more or less images.</p>
	<p>Click on the tag(s) of an image to edit them.</p>
	<p>
		Hit the "Create creature" button of any image that you want pawns of. You
		will then need to align the image and provide some additional data. Images
		with associated creatures cannot be deleted (the associated creature(s) must
		be deleted first).
	</p>
</ScreenHelp>

<div>
	<Switch bind:checked={filterUnused}>Show only unused images</Switch>

	<div class="scrollable">
		{#each books as book}
			<Switch bind:checked={book.enabled} label={book.book} />
		{/each}
	</div>

	<!--	<div class="scrollable">
		{#each tags as tag}
			<Switch bind:checked={tag.enabled} label={tag.tag} />
		{/each}
	</div>-->
	{#each existingCategories as cat}
		<div class="scrollable">
			{#each cat as tag}
				<Switch bind:checked={tag.enabled} label={tag.tag} />
			{/each}
		</div>
	{/each}
</div>
<AllImageList {filter} />
