<script>
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	// 	const db = new PouchDB("images");
	import { getFullImageData } from "./dbUtils.js";
	import { Spinner } from "sveltestrap";
	export let id;

	let img = getFullImageData(id);
</script>

<style>
	.full-image-box {
		width: 15em;
		height: 15em;
	}
	.full-image-box img {
		max-width: 15me;
		max-height: 15em;
	}
</style>

<div class="full-image-box">
	{#await img}
		<Spinner />
	{:then loadedImg}
		<img src={loadedImg.src} style="max-width: 15em;" alt="" />
	{:catch err}
		Something went wrong when fetching the image :-(
	{/await}
</div>
<!--<div class="full-image-dimensions">
	{#await img} <Spinner/> {:then loadedImg} Image size in pixels is
	{loadedImg.width} x {loadedImg.height} {:catch err} Something went wrong when
	fetching the image :-( {/await}
</div>-->
