<script context="module">
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	const db = new PouchDB("images");
</script>

<script>
	import FileInfo from "./FileInfo.svelte";
	import NewCreatureModal from "./NewCreatureModal.svelte";
	import TagList from "./TagInput/TagList.svelte";
	import SureModal from "./SureModal.svelte";
	import ImageUnit from "./ImageUnit.svelte";
	import { updateImage, getThumbnailBlob } from "./dbUtils.js";
	import { Button, Spinner } from "sveltestrap";

	export let image = {
		id: undefined,
		tags: [],
		name: "",
		phash: "",
		fileinfo: {
			name: "",
			page: 0,
			pageName: "",
		},
		creatures: [],
		width: 0,
		height: 0,
	};
	export let mode = "box";
	export let visible = true;

	let deletionTimeout = false;
	let isDeleted = false;
	let modalIsActive = false;
	let tagModalIsActive = false;

	let creatureCount = image.creatures.filter((c) => c).length;
	// 	let imageSrc = getThumbnailBlob(image.id);

	function startDelete() {
		// 		if (image.creatures > 0) {
		// 			return;
		// 		}
		deletionTimeout = setTimeout(deleteFromDB, 5000);
	}

	function cancelDeletion() {
		clearTimeout(deletionTimeout);
		deletionTimeout = false;
	}

	function deleteFromDB() {
		db.get(image.id).then((doc) => {
			db.remove(doc);
		});

		isDeleted = true;
	}

	// 	function hideFromDB(hide) {
	// 		updateImage(image.id, { hidden: hide });
	// 	}

	function addTags(ev) {
		// 		console.log('updating tags', image.id, ev.detail);
		updateImage(image.id, { tags: ev.detail.tags });
	}

	function createCreature(ev) {
		// The creature is created in the modal, not here.
		/// FIXME!! How to update the creatures array?
		// 		console.log("createCreature", ev, image);
		// 		image.creatures++; // Do not wait until an update from the DB
	}
</script>

<!--<div class="image-box">
	<div style="text-align: center">
		{#await imageSrc}
		<Spinner />
		{:then src} <img {src} alt={image.fileinfo.name + '/' + image.fileinfo.page +
		'/' + image.name} /> {:catch}
		<div>Could not load the image :-(</div>
		{/await}
	</div>-->
<!--     TODO: Buttons for delete/edit name -->
{#if visible}
	<ImageUnit
		imageId={image.id}
		alt={image.fileinfo.name + '/' + image.fileinfo.page + '/' + image.name}
		{mode}>
		<span slot="buttons">
			{#if isDeleted}
				<small>Deleted. {image.name}</small>
			{:else if deletionTimeout}
				<Spinner color="danger" />
				Deleting...
				<button
					class="btn btn-outline-danger"
					on:click={() => cancelDeletion()}>
					Cancel deletion
				</button>
			{:else}
				<button
					class="btn btn-outline-primary"
					on:click={() => (modalIsActive = true)}>
					Create creature
				</button>
				<!--		<Button outline on:click="{()=>{tagModalIsActive = true}}">
			Edit Tags
		</Button>-->
				{#if creatureCount === 0}
					<button
						class="btn btn-outline-danger"
						on:click={() => startDelete()}>
						Delete
					</button>
				{:else if creatureCount == 1}
					<div>1 creature exists.</div>
				{:else if creatureCount > 1}
					<div>{creatureCount} creatures exist.</div>
				{/if}
			{/if}
		</span>

		<FileInfo
			fileinfo={image.fileinfo}
			name={image.name}
			width={image.width}
			height={image.height} />

		<TagList bind:tags={image.tags} on:change={addTags} />
		<!-- 		<div>{#each image.tags as tag}<span class="tag">{tag}</span>{/each}</div> -->

		<NewCreatureModal
			bind:active={modalIsActive}
			id={image.id}
			fileinfo={image.fileinfo}
			on:createCreature={createCreature}
			imageName={image.name}
			name="" />
		<!--		<TagModal
			bind:active="{tagModalIsActive}"
			bind:tags="{image.tags}"
			id="{image.id}"
			on:ok="{addTags}"
		></TagModal>-->
	</ImageUnit>
{/if}
