<script>
	import ImageBox from "./ImageBox.svelte";
	import { Button as StrapButton, ButtonGroup } from "sveltestrap";
	import Icon from "svelte-awesome";
	import { thLarge, thList } from "svelte-awesome/icons";

	// 	const db = new PouchDB("images");

	function namesort(a, b) {
		const A = a.toUpperCase(),
			B = b.toUpperCase();
		return A < B ? -1 : A > B ? 1 : 0;
	}

	let sortBy = "book";
	const sortFns = {};

	// Sort by book, then page, then internal name
	sortFns.book = function sortByBook(a, b) {
		return (
			namesort(a.fileinfo.name, b.fileinfo.name) ||
			a.fileinfo.page - b.fileinfo.page ||
			namesort(a.name, b.name)
		);
	};

	// Sort by perceptual hash - should display similar images together
	sortFns.phash = function sortByPhash(a, b) {
		return a.phash < b.phash ? -1 : a.phash > b.phash ? 1 : 0;
	};

	let viewMode = "box";

	export let images = [];
	export let filter = function filter(image) {
		return true;
	};
</script>

<style>
	.image-list {
		width: 100%;
	}
</style>

Display as:
<ButtonGroup>
	<StrapButton
		outline
		active={viewMode === 'box'}
		on:click={() => (viewMode = 'box')}>
		<Icon data={thLarge} />
		Large box
	</StrapButton>
	<StrapButton
		outline
		active={viewMode === 'line'}
		on:click={() => (viewMode = 'line')}>
		<Icon data={thList} />
		Line
	</StrapButton>
</ButtonGroup>
Sort by:
<ButtonGroup>
	<StrapButton
		outline
		active={sortBy === 'book'}
		on:click={() => (sortBy = 'book')}>
		Book, Page
	</StrapButton>
	<StrapButton
		outline
		active={sortBy === 'phash'}
		on:click={() => (sortBy = 'phash')}>
		Image similarity
	</StrapButton>
</ButtonGroup>

<div class="image-list">
	{#if images.length}
		{#each images.sort(sortFns[sortBy]) as image (image.id)}
			<ImageBox {image} visible={filter(image)} mode={viewMode} />
		{/each}
	{:else}
		<p>No images</p>
	{/if}
</div>
