<script context="module">
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	const db = new PouchDB("images");
</script>

<script>
	// A generic (image/creature) box or line, with the thumbnail of an image and
	// slottable content.

	import { getThumbnailBlob } from "./dbUtils.js";
	import { Spinner } from "sveltestrap";

	export let imageId;
	export let alt = "";
	export let mode = "box"; // or 'line'

	let imageSrc = getThumbnailBlob(imageId);
</script>

<style>
	div.image-unit.box {
		width: 15em;
		height: 29em;
		display: inline-block;
		border: 1px solid grey;
		border-radius: 0.5em;
		vertical-align: bottom;
		overflow: hidden;
		padding: 2px;
	}

	div.image-unit.box div.thumbnail {
		text-align: center;
	}

	div.image-unit.box img {
		width: 14em;
		height: 14em;
		object-fit: contain;
		text-align: center;
		vertical-align: middle;
	}

	div.image-unit.line {
		width: 100%;
		height: 5em;
		display: block;
		border: 1px solid grey;
		border-radius: 0.5em;
		/* 		vertical-align: bottom; */
	}

	div.image-unit.line div.thumbnail {
		display: inline-block;
		width: 5em;
		height: 5em;
		text-align: center;
		vertical-align: top;
	}

	div.image-unit.line div.stuff {
		display: inline-block;
		width: calc (100% - 5em);
		height: 5em;
		/* 		text-align: center; */
		/* 		vertical-align: middle; */
	}

	div.image-unit.line img,
	div.image-unit.line .image-load {
		/* 		display: inline-block; */
		width: 5em;
		height: 5em;
		object-fit: contain;
		vertical-align: middle;
	}

	div.image-unit.line span.buttons,
	div.image-unit.line span.info {
		height: 5em;
		display: inline-block;
		vertical-align: top;
	}

	div.image-unit.line span.info {
		font-size: smaller;
	}

	span.buttons {
		display: inline-block;
		width: 14em;
		min-width: 14em;
	}
</style>

<div class="image-unit {mode}">
	<div class="thumbnail" style="text-align: center">
		{#await imageSrc}
			<Spinner />
		{:then src}
			<img {src} {alt} />
		{:catch}
			Could not load the image :-(
		{/await}
	</div>
	<div class="stuff">
		<span class="buttons">
			<slot name="buttons" />
		</span>
		<span class="info">
			<slot />
		</span>
	</div>
</div>
