<script>
	import Pawn from "./Pawn.svelte";
	import { Spinner, CustomInput } from "sveltestrap";
	import ScreenHelp from "./Controls/ScreenHelp.svelte";

	const db = new PouchDB("images");

	let numbering = "none";
	let baseShape = "square";
	let displayName = true;

	/// 	TODO:
	// 	let outline = false;
	// 	let outlineColour = '#000000';
	// 	let outlineWidth = 5; // in mm

	// Aux. Given a structure with pawn data, return its width in mm.
	function widthOfPawnData(data) {
		let width = Number(data.baseWidth);
		width += 3; // static margin
		if (data.x1 < 0) {
			width -= data.x1;
		}
		if (data.x2 > data.baseWidth) {
			width += data.x2 - data.baseWidth;
		}
		return width;
	}

	// Maximum width of a line of pawns, in millimeters
	// Defaults to 15cm, a safe choice for DIN A4 paper with wide margins.
	export let maxRowWidth = 150;

	export let pawnDataset = db
		.allDocs({
			include_docs: true,
		})
		.then((dbResult) => {
			let pawnData = dbResult.rows
				.map((r) =>
					r.doc.creatures
						.filter((c) => c && c.pawnCount)
						.map((c, i) => {
							return (
								c.pawnCount && {
									image: r.doc,
									creatureId: i,
									uniqueId: r.doc._id + "/" + i,
									...c,
								}
							);
						})
				)
				.flat()
				.map((p) =>
					new Array(p.pawnCount).fill(p).map((d, i) => {
						return { ...d, number: i + 1 };
					})
				)
				.flat();

			// 				console.log('pawn dataset: ', pawnData[0]);
			// 						console.log(pawnData);
			/// TODO: sort into rows, calculating height of each row.
			/// Algorithm shall be something like the backpacker's algorithm:
			/// Fetch the tallest image, put it in the row, search for the tallest
			/// image which still fits horizontally in the same row, repeat until
			/// no image fits.

			// Sort by highest point (y2)
			pawnData = pawnData.sort((a, b) => b.y2 - a.y2);

			const rows = [];

			while (pawnData.length) {
				// Get the tallest pawn
				const firstPawn = pawnData.splice(0, 1)[0];

				// This assumes that the tallest pawn is also the one with the tallest base.
				// *Should* be a safe assumption. It should be impossibly rare to encounter
				// a very tall small/medium creature taller than a short large/huge creature.
				const newRow = {
					pawns: [firstPawn],
					maxHeight: firstPawn.y2,
					maxBaseHeight: firstPawn.baseWidth / 2,
				};

				let rowWidth = widthOfPawnData(firstPawn);

				for (let i = 0, l = pawnData.length; i < l; i++) {
					const widthOfNthPawn = widthOfPawnData(pawnData[i]);
					if (widthOfNthPawn + rowWidth < maxRowWidth) {
						newRow.pawns.push(pawnData.splice(i, 1)[0]);
						rowWidth += widthOfNthPawn;
						i--;
						l--;
					}
				}
				rows.push(newRow);
			}

			console.log(rows);

			return rows;
		});
</script>

<style>
	.pawn-row {
		margin-bottom: 5mm;
	}
	label {
		display: block;
	}

	button {
		margin: 1em;
	}

	@media print {
		.no-print {
			display: none;
		}

		/* 		FIXME!!! */
		:global(body) {
			max-width: 150mm;
			width: 150mm;
			/* 			border:1px solid blue; */
		}
	}
</style>

<div class="no-print">
	<ScreenHelp title="Pawns">
		<p>
			Configure the aesthetic details of the pawns. If you see no pawns here,
			go to the "creatures" section first.
		</p>
		<p>
			Tweak the controls to change the appearance of the pawn's base.
			Experiment a bit; the preview is instantaneous.
		</p>
		<p>
			Pawn numbering only has effect when there's more than 1 pawn of a given
			creature.
		</p>
		<p>
			You can print the pawns by pressing
			<kbd>Ctrl+P</kbd>
			or otherwise telling your web browser to print the current webpage. You
			should
			<strong>ensure that print scaling is at 100%</strong>
			, or else your pawns will have the wrong size.
		</p>
	</ScreenHelp>

	<fieldset>
		<!-- <label> -->
		<CustomInput
			type="switch"
			id="displayName"
			name="displayName"
			label="Display name on base"
			bind:checked={displayName} />

		<!-- 	<input type="checkbox" bind:checked="{displayName}" /> -->
		<!-- </label> -->
		<label>
			Pawn numbering:
			<select name="numbering" bind:value={numbering}>
				<option value="none">None</option>
				<option value="numeral">Arabic numerals (1, 2, 3, 4, 5...)</option>
				<option value="roman">Roman numerals (I, II, III, IV, V...)</option>
				<option value="latin">Latin (A, B, C, D, E...)</option>
				<option value="greek">Greek (α, β, γ, δ, ε...)</option>
				<option value="colour">Colour dots</option>
			</select>
		</label>
		<label>
			Shape of pawn base:
			<select name="baseShape" bind:value={baseShape}>
				<option value="square">Square</option>
				<option value="circle">Circle</option>
				<option value="hexagon">Hexagon</option>
				<option value="octagon">Octagon</option>
				<option value="none">None</option>
				<option value="line">Line</option>
				<option value="strip">Black Strip</option>
			</select>
		</label>
		<!--		<CustomInput
			type="switch"
			id="outline"
			name="outline"
			label="Black outline "
			bind:checked={outline} />
		<label>
		Size of outline, in mm:
      <input type="number" class="outlineWidth" id="outlineWidth" min=1 max=50 disabled={!outline} bind:value={outlineWidth}>
		</label>-->

	</fieldset>
	<button on:click={() => window.print()}>Print em!</button>
</div>

{#await pawnDataset}
	<Spinner />
{:then rows}
	{#if rows.length}
		{#each rows as row}
			<div class="pawn-row">
				{#each row.pawns as pawn}
					<!-- <CreatureList creatures="{loadedCreatures}" /> -->
					<Pawn
						creature={pawn}
						numbering={pawn.pawnCount > 1 ? numbering : 'none'}
						{baseShape}
						number={pawn.number}
						{displayName}
						height={row.maxHeight + 1}
						belowBaseGap={row.maxBaseHeight - pawn.baseWidth / 2} />
				{/each}
			</div>
		{/each}
	{:else}
		<p>No pawns to show</p>
	{/if}
{:catch}
	Could not load creatures from DB :-(
{/await}
