<script context="module">
	const romans = [
		"I",
		"II",
		"III",
		"IV",
		"V",
		"VI",
		"VII",
		"VIII",
		"IX",
		"X",
		"XI",
		"XII",
		"XIII",
		"XIV",
		"XV",
		"XVI",
		"XVII",
		"XVIII",
		"XIX",
		"XX",
	];
	const latins = "ABCDEFGHIJKLMNOPQRST".split("");
	//const greeks="αβγδεζηθικλμνξοπρστυφχψω".split('');
	const greeks = "αβγδεζηθκλμξπρστφχψω".split("");

	/// FIXME: Use D3's categorical colours
	// d3 categorical 10: export default colors("1f77b4ff7f0e2ca02cd627289467bd8c564be377c27f7f7fbcbd2217becf");
	// d3 pastel1 export default colors("fbb4aeb3cde3ccebc5decbe4fed9a6ffffcce5d8bdfddaecf2f2f2");

	// 	Old categorical 20:
	// 1f77b4 #1f77b4
	// aec7e8 #aec7e8
	// ff7f0e #ff7f0e
	// ffbb78 #ffbb78
	// 2ca02c #2ca02c
	// 98df8a #98df8a
	// d62728 #d62728
	// ff9896 #ff9896
	// 9467bd #9467bd
	// c5b0d5 #c5b0d5
	// 8c564b #8c564b
	// c49c94 #c49c94
	// e377c2 #e377c2
	// f7b6d2 #f7b6d2
	// 7f7f7f #7f7f7f
	// c7c7c7 #c7c7c7
	// bcbd22 #bcbd22
	// dbdb8d #dbdb8d
	// 17becf #17becf
	// 9edae5 #9edae5

	const colours = [
		"black", // 		"hsl(0, 100%, 40%)",
		"red", // 		"hsl(72, 100%, 40%)",
		"blue", // 		"hsl(144, 100%, 40%)",
		"green", // 		"hsl(216, 100%, 40%)",
		"yellow", // 		"hsl(288, 100%, 40%)",

		"purple", // 		"hsl(36, 100%, 40%)",
		"orange", // 		"hsl(108, 100%, 40%)",
		"teal", // 		"hsl(180, 100%, 40%)",
		"white", // 		"hsl(252, 100%, 40%)",
		"grey", // 		"hsl(324, 100%, 40%)",

		"hsl(0, 50%, 75%)",
		"hsl(72, 50%, 75%)",
		"hsl(144, 50%, 75%)",
		"hsl(216, 50%, 75%)",
		"hsl(288, 50%, 75%)",

		"hsl(36, 50%, 75%)",
		"hsl(108, 50%, 75%)",
		"hsl(180, 50%, 75%)",
		"hsl(252, 50%, 75%)",
		"hsl(324, 50%, 75%)",
	];
</script>

<script>
	export let numbering = "none";
	export let number = 1;
</script>

{#if numbering === 'numeral'}
	{number}
{:else if numbering === 'roman'}
	{romans[number - 1]}
{:else if numbering === 'latin'}
	{latins[number - 1]}
{:else if numbering === 'greek'}
	{greeks[number - 1]}
{:else if numbering === 'colour'}
	<span style="color:{colours[number - 1]}">⬤</span>
{/if}
