<script>
	// Shape can be:
	// - square
	// - circle
	// - hexagon
	// - octagon
	// - none
	// - line
	// - (black) strip
	export let shape = "";

	// Either "top" or "bottom". "top" will flip everything vertically
	export let position = "bottom";

	export let width = 25; // in mm
	let height;
	$: height = width / 2; // in mm

	// TODO: allow setting the border width
	// TODO: fit text somehow?

	let svgEl;
	let svgPxWidth = 0;

	$: svgPxWidth = svgEl ? svgEl.getClientRects()[0].width : 0;
</script>

<style>
	.base {
		position: absolute;
		left: 0mm;
		text-align: center;
	}

	.base.square,
	.base.circle {
		border: 1mm solid black;
	}

	.base.top {
		top: 0mm;
		transform: scaleY(-1);
	}

	.base.bottom {
		bottom: 0mm;
	}

	.base.none {
		border: none;
	}

	.base.line {
		border-top: 1mm solid black;
	}

	.base.strip {
		border-top: 7.5mm solid black;
	}

	.base svg {
		position: absolute;
		overflow: visible;
		top: 0.5mm; /* Half of the border width, so that the polygons's stroke are in place */
		left: 0;
	}
</style>

{#if shape === 'square'}
	<div
		class="base {position} square"
		style="width: {width}mm; height: {height}mm;">
		<slot />
	</div>
{:else if shape === 'circle'}
	<div
		class="base {position} circle"
		style="width: {width}mm; height: {height}mm; border-bottom-left-radius: {height}mm;
		border-bottom-right-radius: {height}mm; ">
		<slot />
	</div>
{:else if shape === 'hexagon'}
	<div
		class="base {position} hexagon"
		style="width: {width}mm; height: {height}mm;">
		<svg width="100%" height="100%" bind:this={svgEl}>
			<polygon
				points=" 0,0 {svgPxWidth},0 {svgPxWidth * 0.75},{svgPxWidth * 0.433}
				{svgPxWidth * 0.25},{svgPxWidth * 0.433}
				"
				style="stroke:black;fill:none;stroke-width:1mm" />
		</svg>
		<slot />
	</div>
{:else if shape === 'octagon'}
	<div
		class="base {position} hexagon"
		style="width: {width}mm; height: {height}mm;">
		<svg width="100%" height="100%" bind:this={svgEl}>
			<polygon
				points=" 0,0 {svgPxWidth},0 {svgPxWidth},{svgPxWidth * 0.20710678}
				{svgPxWidth * 0.7071068},{svgPxWidth * 0.5}
				{svgPxWidth * 0.2928932},{svgPxWidth * 0.5} 0,{svgPxWidth * 0.20710678}
				"
				style="stroke:black;fill:none;stroke-width:1mm" />
		</svg>
		<slot />
	</div>
{:else}
	<div
		class="base {position}
		{shape}"
		style="width: {width}mm; height: {height}mm;">
		<slot />
	</div>
{/if}
