<script>
	import PawnDistinctor from "./PawnDistinctor.svelte";
	import PawnBase from "./PawnBase.svelte";
	import { getFullImageData } from "./dbUtils.js";
	import { Spinner } from "sveltestrap";

	export let creature = {
		image: {
			id: undefined,
		}, // A reference to the whole image

		// The numerical ID of this creature inside the image's creatures array.
		creatureId: undefined,

		name: "",
		baseWidth: undefined,
		x1: undefined,
		x2: undefined,
		y1: undefined,
		y2: undefined,
		pawnCount: 0,
	};
	export let numbering = "none";
	export let number = 1;
	export let baseShape = "square";
	export let displayName = true;

	// Whether to display the top-mirrored half for print-then-fold, or just one half
	// for "one-sided" stuff.
	export let mirror = true;
	let heightMultiplier = mirror ? 2 : 1;

	// The absolute height of this pawn, in mm
	// Shall be the same for all pawns in the same row
	export let height = 60;

	/// Allow to specify the height of the gap below the pawn base, in mm
	/// (for the use case of printing several pawns of different base size)
	export let belowBaseGap = 0;

	let image = getFullImageData(creature.image._id);

	let labelName = "";
	let labelNumber = "";
	$: labelName = displayName ? creature.name : "";

	let width = Number(creature.baseWidth);
	if (creature.x1 < 0) {
		width -= creature.x1;
	}
	if (creature.x2 > creature.baseWidth) {
		width += creature.x2 - creature.baseWidth;
	}
</script>

<style>
	.pawn {
		position: relative;
		/* 		border: 1px dotted pink; */
		/* 		border-radius: 0.5em; */
		vertical-align: bottom;
		display: inline-block;
		margin-left: 3mm;
	}

	.pawn-top {
		position: absolute;
		border-bottom: 0.2mm dashed #404040;
		top: 0;
		left: 0;
		right: 0;
	}
	.pawn-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 0.2mm dashed #404040;
	}

	.pawnImage {
		position: absolute;
	}

	svg {
		width: 100%;
	}
</style>

<div
	class="pawn"
	style="height: {(Number(height) + Number(creature.baseWidth) / 2 + belowBaseGap) * heightMultiplier}mm;
	width: {width}mm">
	{#if mirror}
		<div
			class="pawn-top"
			style="left: {Math.max(0, -creature.x1)}mm; height: {height + creature.baseWidth / 2}mm;
			top: {belowBaseGap}mm">
			<PawnBase shape={baseShape} width={creature.baseWidth} position="top" />

			{#await image}
				<Spinner />
			{:then img}
				<img
					style=" /*bottom: {height - creature.y2}mm;*/ top: {creature.baseWidth / 2 + creature.y1}mm;
					left: {creature.x1}mm; height: {creature.y2 - creature.y1}mm;
					width: {creature.x2 - creature.x1}mm; max-width: {creature.x2 - creature.x1}mm;
					transform: scaleY(-1);"
					class="pawnImage"
					src={img.src}
					alt="{creature.name} pawn" />
			{/await}
		</div>
	{/if}
	<div
		class="pawn-bottom"
		style="left: {Math.max(0, -creature.x1)}mm; bottom: {belowBaseGap}mm; height:
		{height + creature.baseWidth / 2}mm;">
		<PawnBase shape={baseShape} width={creature.baseWidth} position="bottom">
			<div>{labelName}</div>
			<div>
				<big>
					<PawnDistinctor {numbering} {number} />
				</big>
			</div>
		</PawnBase>

		{#await image}
			<Spinner />
		{:then img}
			<img
				style=" bottom: {creature.baseWidth / 2 + creature.y1}mm; left: {creature.x1}mm;
				height: {creature.y2 - creature.y1}mm; width: {creature.x2 - creature.x1}mm;
				max-width: {creature.x2 - creature.x1}mm;"
				class="pawnImage"
				src={img.src}
				alt="{creature.name} pawn" />
		{/await}
	</div>
</div>
