<script context="module">
	const db = new PouchDB("images");
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
</script>

<script>
	import humanOutline from "./Human_outline.svg";
	import { Spinner } from "sveltestrap";

	// 	console.log(humanOutline);

	export let baseWidth = 25; // Width of the pawn base, in millimeters
	export let style = "";

	export let id; // UUID of the image

	// position of the image sides, in millimeters, relative to the base origin.
	export let x1;
	export let x2;
	export let y1;
	export let y2;

	const baseBorderWidth = 3; // Width of the base border, in pixels

	let w, h; // Width & height in pixels, of the positioner container.

	let ground, pxPerMm, left;

	$: ground = (2 * h) / 3; // Pixels from the top to the ground line
	// 	$: sq = Math.min(w, h);

	// Pixels per paper millimeter.
	$: pxPerMm = Math.min(w, h) / (baseWidth * 3);

	// Pixels from the left of the box to the left of the base
	$: left = w / 2 - (baseWidth * pxPerMm) / 2;

	// dimensions of the image (once loaded), for keeping its aspect ratio.
	// Aspet ratio and angle of the diagonal are constant.
	let imgWidth, imgHeight, imgRatio, imgAngle;
	$: imgRatio = imgWidth / imgHeight;
	$: imgAngle = Math.atan2(imgWidth, imgHeight);

	// Offsets from the base corner and dimensions of the image,
	// in pixels. Also used for positioning the drag handlers
	let dragLeft, dragTop, dragHeight, dragWidth;
	$: dragLeft = x1 * pxPerMm;
	$: dragTop = y2 * pxPerMm + baseBorderWidth;
	$: dragHeight = (y2 - y1) * pxPerMm;
	$: dragWidth = (x2 - x1) * pxPerMm;

	$: y2 = y1 + (x2 - x1) / imgRatio;

	let img = db
		.getAttachment(id, "image")
		.then((data) => URL.createObjectURL(data))
		.catch((err) => console.error(`Error loading data with id: ${id} (${err})`))
		.then((src) => {
			return new Promise(function(resolve, reject) {
				const img = new Image();
				img.onload = function() {
					imgWidth = img.naturalWidth;
					imgHeight = img.naturalHeight;

					if (x1 === undefined) {
						// Init x1, x2, y1, y2 with a simple extrapolation of the image dimensions
						x1 = 0;
						x2 = (baseWidth * imgWidth) / imgHeight;
						y1 = 0;
						// y2 = 0 + (baseWidth / imgWidth) * imgHeight;
					}

					resolve({
						src,
					});
				};
				img.onerror = reject;
				img.src = src;
			});
		});

	let dragging = false;
	let resizing = false;
	let dragX = 0,
		dragY = 0;

	let dragStart = {
		// horizontal position, in mm, where the image diagonal crosses the ground
		xGroundMm: 0,

		// length of the diagonal form the ground crossing to the top-right corner
		diag: 0,

		// Initial values of x1, x2, y1
		x1: 0, // Delta from ground crossing point of the diagonal to left edge
		x2: 0, // Delta from ground crossing point of the diagonal to right edge
		y1: 0,
	};

	function preventDefault(ev) {
		ev.preventDefault();
	}

	function imgPointerDown(ev) {
		dragging = true;
		dragX = ev.clientX;
		dragY = ev.clientY;
		window.addEventListener("dragstart", preventDefault);
		window.addEventListener("selectstart", preventDefault);
	}

	function resizePointerDown(ev) {
		resizing = true;
		dragX = ev.clientX;
		dragY = ev.clientY;
		window.addEventListener("dragstart", preventDefault);
		window.addEventListener("selectstart", preventDefault);

		// Percentage of height in which the image starts above ground
		const groundPct = -y1 / (y2 - y1);
		dragStart.xGroundMm = x1 + (x2 - x1) * groundPct;
		const x = x2 - x1;
		const y = y2 - y1;
		dragStart.diag = Math.sqrt(x * x + y * y) * (1 - groundPct);

		dragStart.x1 = x1 - dragStart.xGroundMm;
		dragStart.x2 = x2 - dragStart.xGroundMm;
		dragStart.y1 = y1;
	}

	function pointerUp() {
		dragging = resizing = false;
		window.removeEventListener("dragstart", preventDefault);
		window.removeEventListener("selectstart", preventDefault);
	}

	function pointerMove(ev) {
		if (dragging) {
			const deltaX = (ev.clientX - dragX) / pxPerMm;
			const deltaY = (ev.clientY - dragY) / pxPerMm;
			dragX = ev.clientX;
			dragY = ev.clientY;
			x1 += deltaX;
			x2 += deltaX;
			y1 -= deltaY;
		}

		if (resizing) {
			const deltaX = (ev.clientX - dragX) / pxPerMm;
			const deltaY = (ev.clientY - dragY) / pxPerMm;

			const dragDiag =
				+deltaX * Math.sin(imgAngle) - deltaY * Math.cos(imgAngle);

			const scale = 1 + dragDiag / dragStart.diag;

			x1 = dragStart.xGroundMm + dragStart.x1 * scale;
			x2 = dragStart.xGroundMm + dragStart.x2 * scale;
			y1 = dragStart.y1 * scale;
		}
	}
</script>

<style>
	.positioner {
		position: relative;
		max-width: 40em;
		max-height: 40em;
		width: 100%;
		height: 100%;
		display: inline-block;
		border: 1px solid grey;
		border-radius: 0.5em;
		vertical-align: bottom;
		overflow: hidden;
	}

	.positioner.resizing {
		cursor: nesw-resize;
	}

	.positioner.resizing img.pawn {
		cursor: nesw-resize;
	}

	.ground {
		position: absolute;
		border-top: 1px solid black;
	}

	.eye-level {
		position: absolute;
		border-top: 1px dashed red;
	}

	.base {
		position: absolute;
		border: 3px solid black;
	}

	img.pawn {
		position: absolute;
		cursor: move;
		border: 1px dotted gray;
		max-width: none;
	}

	.resize {
		width: 16px;
		height: 16px;
		border: 1px solid black;
		position: absolute;
	}

	.resize.resize-tr {
		cursor: nesw-resize;
	}

	img.outline {
		position: absolute;
	}
</style>

<div
	class="positioner {resizing ? 'resizing' : ''}"
	bind:clientWidth={w}
	bind:clientHeight={h}
	on:pointermove={pointerMove}
	on:pointerup={pointerUp}
	{style}>
	<img
		class="outline"
		alt="Outline of a human, for scale"
		src={humanOutline}
		style="top: {ground - 30 * pxPerMm}px; height: {30 * pxPerMm}px; left: 0; " />
	<div class="ground" style="width: {w}px; top: {ground}px" />
	<div class="eye-level" style="width: {w}px; top: {ground - 28 * pxPerMm}px" />

	<div
		class="base"
		style="width: {baseWidth * pxPerMm}px; height: {(baseWidth * pxPerMm) / 2}px;
		top: {ground}px; left: {left}px;">
		{#await img}
			<Spinner />
		{:then loadedImg}
			<img
				class="pawn"
				src={loadedImg.src}
				alt="Draggable &amp; resizeable pawn image"
				on:pointerdown={imgPointerDown}
				style="top: -{dragTop}px; left: {dragLeft}px; height: {dragHeight}px;
				width: {dragWidth}px;" />
			<div
				class="resize resize-tr"
				on:pointerdown={resizePointerDown}
				style="top: -{dragTop}px; left: {dragLeft + dragWidth - 16}px;" />
		{/await}
	</div>
</div>
