<script>
	import { Button, Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap";

	let err;
	let isErr = false;

	const db = new PouchDB("images");
	db.info().catch((er) => {
		err = er;
		isErr = true;
		console.error(er);
	});
</script>

<style>

</style>

<Modal isOpen={isErr} style="min-width: 50vw">
	<ModalHeader>Uh oh, paperpawner couldn't open the local database</ModalHeader>
	<ModalBody>
		<p>Your browser reported this error:</p>
		<div class="alert alert-danger" role="alert">
			status:
			<b>{err.status}</b>
			<br />
			message:
			<b>{err.message}</b>
			<br />
			reason:
			<b>{err.reason}</b>
			<br />
		</div>
		<p>
			This means that stuff will most probably not work. You might not be able
			to add new images or create new creatures or save any changes to
			anything.
		</p>
	</ModalBody>
	<ModalFooter>
		<Button color="success" on:click={() => (isErr = false)}>Understood</Button>
	</ModalFooter>
</Modal>
