<script context="module">
	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb.js";
	const db = new PouchDB("images");
</script>

<script>
	import ThumbnailImage from "./ThumbnailImage.svelte";
	import FileInfo from "./FileInfo.svelte";
	import * as tagCategories from "./possibleTags.js";
	import { Spinner } from "sveltestrap";
	import ScreenHelp from "./Controls/ScreenHelp.svelte";
	import TagList from "./TagInput/TagList.svelte";
	import { updateImage } from "./dbUtils.js";

	import { onMount /*beforeUpdate, afterUpdate, onDestroy  */ } from "svelte";

	let busy = true;

	function onKey(ev) {
		// 		console.log(ev);
		if (ev.key === "Enter") {
			return skip();
		} else if (ev.key === "Delete") {
			return deleteImg();
		} else if (
			ev.key === "1" ||
			ev.key === "2" ||
			ev.key === "3" ||
			ev.key === "4" ||
			ev.key === "5" ||
			ev.key === "6" ||
			ev.key === "7" ||
			ev.key === "8" ||
			ev.key === "9"
		) {
			availableTags.then((opts) => {
				if (opts[ev.key - 1]) {
					addTag(opts[ev.key - 1]);
				}
			});
		}
	}

	onMount(function() {
		document.addEventListener("keydown", onKey);

		return function() {
			document.removeEventListener("keydown", onKey);
		};
	});

	function namesort(a, b) {
		const A = a.toUpperCase(),
			B = b.toUpperCase();
		return A < B ? -1 : A > B ? 1 : 0;
	}

	const images = db
		.allDocs({
			include_docs: true,
		})
		.then((dbset) => {
			return dbset.rows
				.map((img) => ({
					id: img.id,
					...img.doc,
					// 					fileinfo: img.doc.fileinfo,
					// 					name: img.doc.name,
					// 					tags: img.doctags,
					// 					creatures: img.doc.creatures,
					// 					width: img.doc.width,
					// 					height: img.doc.height,
				}))
				.sort(
					(a, b) =>
						namesort(a.fileinfo.name, b.fileinfo.name) ||
						a.fileinfo.page - b.fileinfo.page ||
						namesort(a.name, b.name)
				);
		});

	// 	images.then(console.log);

	let maxTagCount = 1;

	let idx = 0;

	function skip(offset = 1) {
		busy = true;
		images.then((imgs) => {
			if (idx + offset < imgs.length) {
				if (
					imgs[idx + offset].tags &&
					imgs[idx + offset].tags.length > maxTagCount
				) {
					skip(offset + 1);
				} else {
					idx += offset;
				}
			}
		});
	}

	function deleteImg() {
		busy = true;
		currImg.then((img) =>
			db.get(img.id).then((doc) => {
				db.remove(doc);
				skip();
			})
		);
	}

	let currImg;
	$: currImg = images.then((imgs) => imgs[idx] || false);

	$: currentTags = currImg.then((img) => img.tags || []);

	$: availableTags = Promise.all([currentTags, currImg]).then(
		([currTags, img]) => {
			if (!img) {
				return false;
			} // Do not display tags on no images to tag

			for (let i in tagCategories) {
				const cat = tagCategories[i];
				if (
					cat.trigger(currTags) &&
					!cat.opts.some((o) => currTags.includes(o))
				) {
					console.log("Available category: ", tagCategories[i].opts);
					setTimeout(() => (busy = false), 250);
					return tagCategories[i].opts;
				}
			}

			skip(); // In case of no available tags to choose from, skip to the next untagged image.
			return [];
		}
	);

	function addTag(tag) {
		console.log("addTag", tag);
		Promise.all([currentTags, currImg]).then(([tags, img]) => {
			console.log("addTag", tag, tags, img);

			tags.push(tag);
			updateImage(img.id, { tags }).then(() => {
				currentTags = Promise.resolve(tags);
			});
		});
	}
</script>

<style>
	div.ib {
		display: inline-block;
		vertical-align: top;
	}
</style>

<ScreenHelp title="Sequence Tagger">
	<p>
		A straightforward way of tagging images. Useful if there are lots of images,
		and you think you'll want to look for specific images later. If there are few
		images, you can skip this step and go directly to the "Filterable Images"
		section.
	</p>
	<p>
		This screen will cycle through all images, allowing to apply tags in a
		(hopefully) quick and complete way.
	</p>
	<p>
		The buttons for tagging, deleting and skipping all have keyboard shortcuts,
		indicated in the buttons.
	</p>
	<!--     TODO: some help blurb about using keyboard shortcuts -->
</ScreenHelp>

<div class="ib">
	{#await currImg}
		<Spinner />
	{:then img}
		{#if img}
			<div>
				<ThumbnailImage id={img.id} />
			</div>
			{#await currentTags}
				<Spinner />
			{:then currTags}
				<div>
					<TagList tags={currTags} />
				</div>
			{/await}
			<div>
				<FileInfo {...img} />
			</div>
		{:else}No untagged images.{/if}
	{/await}
</div>
<div class="ib">
	{#await availableTags}
		<Spinner />
	{:then tagOpts}
		{#if tagOpts}
			<div>
				<button
					class="btn btn-outline-danger"
					on:click={() => deleteImg()}
					disabled={busy}>
					<kbd>del</kbd>
					Delete
				</button>
			</div>
			<br />
			<br />
			<div>
				<button
					class="btn btn-outline-primary"
					on:click={() => skip()}
					disabled={busy}>
					<kbd>Enter</kbd>
					Skip
				</button>
			</div>
			<br />
			<br />
			{#each tagOpts as tagOpt, i}
				<div>
					<button
						class="btn btn-outline-primary"
						on:click={() => addTag(tagOpt)}
						disabled={busy}>
						{#if i <= 8}
							<kbd>{i + 1}</kbd>
						{/if}
						{tagOpt}
					</button>
				</div>
			{/each}
		{/if}
	{/await}
</div>
