<script>
	import { version } from "../package.json";
</script>

<p>
	paperpawner is a tool to extract artwork from PDFs and create paper miniatures
	from that artwork.
</p>

<img src="paperpawner-workflow.png" alt="paperpawner workflow diagram" />

<p>
	There's a bit more information about it on
	<a href="https://ivan.sanchezortega.es/games/2020/01/14/paperpawner.html">
		announcement
	</a>
	and the
	<a href="https://gitlab.com/IvanSanchez/paperminis">gitlab repository</a>
	.
</p>

<p>If you're ready to create some paper minis:</p>

<ol>
	<li>
		Use the "upload" section to process some PDFs
		<ul>
			<li>
				If there are lots of images and you're willing to catalog them all,
				use "sequence tagger".
			</li>
			<li>
				If the same artwork appears lots of times, it might be useful to use
				"duplicate finder".
			</li>
		</ul>
	</li>
	<li>Use the "Filterable Images" section to create creatures from images</li>
	<li>Use the "All Creatures" section to queue creatures for printing them</li>
	<li>Use the "Current Pawns" to print them!</li>
	<li>Cut, fold, glue. Play!</li>
</ol>
PaperPawner version: {version}
