<script>
	// 	import TagModal from "./TagModal.html";
	// 	import PHashPairs from "./PHashPairs.svelte";
	import SequenceTagger from "./SequenceTagger.svelte";
</script>

<style>
	@import url("bootstrap.min.css");
</style>

<!-- <TagModal active="{true}" tags={["foo", "bar"]} /> -->

<!-- <PHashPairs /> -->
<SequenceTagger />
