<script context="module">
	const db = new PouchDB("images");

	import { updateKnownHashes } from "./dump-raw-images.mjs";

	db.allDocs({ include_docs: true }).then((images) => {
		const hashes = images.rows.map((item) => item.doc.hash);
		updateKnownHashes(hashes);
	});
</script>

<script>
	let fileInput;
	let tags;
	let log = "";
	let maxAspectRatio = 4;
	let minSize = 96;

	// 	import PouchDB from "./../node_modules/pouchdb/dist/pouchdb";
	import forEachImageInPDF, { getPageCount } from "./dump-raw-images.mjs";
	import TagList from "./TagInput/TagList.svelte";
	import {
		Button,
		Modal,
		ModalBody,
		ModalFooter,
		ModalHeader,
		CustomInput,
		Form,
		FormGroup,
		FormText,
		Input,
		Label,
	} from "sveltestrap";
	import Tag from "./TagInput/Tag.svelte";
	import ScreenHelp from "./Controls/ScreenHelp.svelte";
	import { addImageToDatabase } from "./recordUtils.mjs";

	// 	const db = new PouchDB("images");
	let busy = false; // When true, input fields are disabled.
	let done = false; // When false, the modal can't be closed.
	let pagesDone = 0;
	let pagesTotal = 0;
	let statusLines = ["", ""];
	let hashes = [];
	let numberOfFiles;

	$: numberOfFiles = fileInput && Array.from(fileInput.files).length;

	// review these functions and remove unnecessary 'export' keywords
	function logMessage(msg, slotNumber = 0) {
		// 		console.log(msg);
		statusLines[slotNumber] = msg;
	}

	function processFiles() {
		(log = ""), (pagesTotal = 0), (pagesDone = 0), (busy = true), (done = false);

		const files = fileInput.files;

		// First pass: count pages
		logMessage(`Counting pages...`);

		let pages = 0;
		let queue = Promise.resolve();
		Array.from(files).forEach((file) => {
			if (file.type.includes("image/")) {
				queue = queue.then(() => {
					pages++;
				});
			} else if (file.type === "application/pdf") {
				queue = queue
					.then(() => getPageCount(file))
					.then((pageCount) => {
						pages += pageCount;
					});
			}
		});

		queue = queue.then(() => {
			logMessage(`Aggregate page count for all files: ${pages}`);
			(pagesTotal = pages), (pagesDone = 0);
		});

		Array.from(files).forEach((file) => {
			// this.logMessage(`Got file: ${file.name}`);

			if (file.type.includes("image/")) {
				/// TODO: Calculate phash for individual files
				queue = queue
					.then(() => {
						logMessage(`Adding file ${file.name} as an image`);
						return addImageToDatabase(
							{
								fileinfo: {
									type: "image",
									name: file.name,
								},
								name: file.name,
								tags: tags,
								original_content_type: file.type,
							},
							{
								content_type: file.type,
								data: file,
							}
						);
					})
					.then((m) => {
						pagesDone += 1;
						logMessage(m, 1);
					})
					.catch((m) => logMessage(m, 1));
			} else if (file.type === "application/pdf") {
				queue = queue.then(() => {
					logMessage(
						`Adding images from file ${file.name} by parsing PDF.`
					);

					return forEachImageInPDF(
						file,
						(image) => {
							// onImage
							logMessage(
								`New image from PDF ${file.name} - Page: ${image.pageNumber} - Internal name: ${image.name}`,
								1
							);

							return addImageToDatabase(
								{
									fileinfo: {
										type: "pdf",
										name: file.name,
										page: image.pageNumber,
										pageName: image.pageName,
									},
									name: image.name,
									hash: image.hash,
									phash: image.phash,
									tags: tags,
									original_content_type: image.originalType,
								},
								{
									content_type: image.mimeType,
									data: image.blob,
								}
							)
								.then((m) => logMessage(m, 1))
								.catch((m) => logMessage(m, 1));
						},
						(page) => {
							// onPage
							logMessage(`Processing page ${page} from ${file.name}`);
							pagesDone += 1;
						},
						(isDone) => {
							// onDone
							logMessage(`Done processing ${file.name}`, 0);
							logMessage(``, 1);
							//pagesDone += 1;
						},
						(error) =>
							logMessage(
								`An error occured when processing ${file.name}: ${error}`
							),
						maxAspectRatio,
						minSize
					);
				});
			} else {
				logMessage(`File ${file.name} is of an unrecognized file format.`);
			}
		});

		queue = queue.then(() => {
			logMessage("Image extraction is finished.");
			// 			busy = false;
			done = true;
		});
		return queue;
	}
</script>

<style>
	label {
		display: inline-block;
	}

	.upload-image-modal .modal-card-foot {
		display: none;
	}

	button {
		margin: 1em;
	}
</style>

<ScreenHelp title="Process images &amp; PDFs">
	<p>
		The first step in creating paper pawns: feeding some PDFs (or individual
		images in .jpg or .png format).
	</p>
	<p>
		Select one (
		<em>or several!</em>
		) PDFs or images. You can also drag-and-drop some files onto the file
		selector.
	</p>
	<p>
		By default, some filters are applied to images found in PDFs in an effort to
		skip useless images: very tall or very wide images (which most of the time
		are separators or page decorations) and very small images (which tend to be
		icons useless for printing).
	</p>
	<p>
		Setting a tag will apply that tag to every image found in the file(s). It is
		recommended to set at least one tag relative to the game system, e.g.
		<Tag>pathfinder</Tag>
		,
		<Tag>pfrpg</Tag>
		,
		<Tag>starfinder</Tag>
		,
		<Tag>gurps</Tag>
		or
		<Tag>dnd5e</Tag>
		.
	</p>
	<p>
		If you are processing just a few images, you might want to go to the
		"filterable images list" screen next, and start creating creatures. If there
		are lots of images, you might want to tag them or delete duplicates first.
	</p>
</ScreenHelp>

<div>
	If you write some tags, then all the images from those files will have those
	tags.
</div>
<div>
	<label>
		Select some images or PDF files
		<input
			name="image"
			type="file"
			multiple
			disabled={busy}
			bind:this={fileInput} />
	</label>
</div>
<div>
	<label>
		Ignore images with a width/height ratio larger than:
		<input
			name="max-aspect-ratio"
			type="number"
			min="2"
			max="10"
			step="0.01"
			disabled={busy}
			bind:value={maxAspectRatio} />
	</label>
</div>
<div>
	<label>
		Ignore images with a width/height smaller than:
		<input
			name="min-size"
			type="number"
			min="1"
			max="500"
			step="1"
			disabled={busy}
			bind:value={minSize} />
		px
	</label>
</div>
<div>
	<label for="tag">Tags (click to edit):</label>
	<TagList bind:tags style="width: 40em;" />
</div>
<Button disabled={busy} on:click={processFiles}>Process file(s)</Button>

<Modal
	isOpen={busy}
	toggle={() => {
		if (done) {
			busy = false;
		}
	}}
	style="min-width: 50vw">
	<ModalHeader>Processing...</ModalHeader>
	<ModalBody>
		<p>Pages done/total: {pagesDone} / {pagesTotal}</p>
		<p style="min-height: 2.5em;">{statusLines[0]}</p>
		<p style="min-height: 2.5em;">{statusLines[1]}</p>
		<div style="margin: 1em;">
			<progress
				style="width:100%"
				class="progress"
				value={pagesDone}
				max={pagesTotal}>
				{pagesDone} / {pagesTotal}
			</progress>
		</div>
	</ModalBody>
	{#if done}
		<ModalFooter>
			<Button color="success" on:click={() => (busy = false)}>OK</Button>
		</ModalFooter>
	{/if}
</Modal>

<!-- <pre>{log}</pre> -->
